/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: black url('../images/bg.jpg');
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
}

#userPhoto {
    width: 95px;
    height: 95px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName {
    color: white;
    display: block;
    width: 100%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 auto 30px auto;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.link {
    display: none;
    background-color: rgba(66, 110, 255, 0.2);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 50px;
}

.show {
    display: block;
}

.link:hover {
    border: none;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    text-decoration:none;
}

.circulo {
    background-color: rgba(66, 110, 255, 0.2);
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.circulo:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}
